@page "/classes"

@using StudentInformationSystem.Data
@inject StudentClassesService StudentService


<style>
    table {
        font-family: Arial;
        border-collapse: collapse;
    }

    tr {
        border: 1px solid;
        text-align: center;
        font-family: Arial;
        font-size: 14px;
    }

    td, th {
        border: 1px solid black;
        text-align: center;
        padding: 8px;
    }
</style>

<h1>Classes</h1>
<br />

<table style="width:400px">
    <thead>
        <tr>
            <th colspan="3"> This Week's Schedule</th>
        </tr>
        @foreach (var student in studentsToDisplay)
        {
        <tr>
            <th>Name:@student.Name</th>
            <th>Class: temp</th>
            <th>Schedule: temp</th>
            
        </tr>
        }
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@code {
    public Student[] studentsToDisplay;

    protected override async Task OnInitializedAsync()
    {
        studentsToDisplay = await StudentService.GetStudentsAsync();
    }
}

