@page "/Grades"

@using StudentInformationSystem.Data
@inject StudentGradesService GradeService

<style>
    table {
        font-family: Arial;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        text-align: center;
        padding: 8px;
    }
</style>

@if (classesToDisplay == null)
{
    <p><em>Loading...</em></p>
}
else
{
<h1>Official Grades</h1>
<br />
<table style="width:800px">
    <thead>
        <tr>
            <th>Class</th>
            <th>Description</th>
            <th>Units</th>
            <th>Grade</th>
            <th>Grade Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curClass in classesToDisplay)
        {
        <tr>
            <td>@curClass.ClassName</td>
            <td>@curClass.Description</td>
            <td>@curClass.Units</td>
            <td>@string.Format("{0:N2}", curClass.Grade)</td>
            <td></td>
        </tr>
        }
    </tbody>
</table>
}

@code {
    public Class[] classesToDisplay;

    protected override async Task OnInitializedAsync()
    {
        classesToDisplay = await GradeService.GetGradesAsync();
    }
}
