@page "/"

<h1 style="text-align:center">Login</h1>


<div style="text-align:center">
    <label>Username </label>
    <input id="UserName: " name="UserName" type="text" />
</div>
<div style=" text-align:center">
    <label>Password </label>
    <input id="Password" name="Password" type="text" />
</div>
